<div class="content-wrapper buffer-both text-center">
  <div class="buffer-both">
    <h1 class="title-medium">Our community!!!</h1>
  </div>

  <% @users.each do |user| %>
    <div class="users-list-item">
      <div class="user-image-div user-image-div-small">
        <%= link_to display_avatar(user), user_path(user) %>
      </div>
    </div>
  <% end %>

  <div>
    <% @tags.each do |t| %>
      <%= link_to "#" + t.name, tag_path(t) %>
    <% end %>
  </div>
</div>
